body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  height: 65px;
  width: 100%;
  z-index: 1;
}

header img {
  height: 35%;
  width: 35%;
  padding-top: 20px;
  padding-left: 20px;
}

header img:hover {
  opacity: 0.7;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 5px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .menu {
    display: none;
  }
}

.border__1,
.border__2,
.border__3 {
  height: 4px;
  width: 40px;
  background-color: black;
  display: inline-block;
  position: absolute;
}

.border__1 {
  top: 10px;
  transition: 0.5s;
}

.border__2 {
  top: 23px;
  transition: 0.5s;
}

.border__3 {
  bottom: 10px;
  transition: 0.5s;
}

.nav {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(-100%);
}

@media screen and (min-width: 769px) {
  .nav {
    background-color: none;
    transform: none;
    height: 65px;
    width: 87%;
    flex-direction: row;
    justify-content: flex-end;
    transition: none;
  }
  .nav li {
    padding: 0 20px 55px;
  }
}

.nav li {
  padding-top: 50px;
}

.nav li a {
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
}

.nav a:link,
.nav a:visited,
.nav a:active {
  color: blue;
}

@media screen and (min-width: 769px) {
  .nav a:link,
  .nav a:visited,
  .nav a:active {
    color: black;
  }
}

.nav a:hover {
  opacity: 0.7;
}

.menu.open span:nth-of-type(1) {
  transform: rotate(45deg);
  transition: 0.5s;
  top: 23px;
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
  transition: 0.5s;
}

.menu.open span:nth-of-type(3) {
  transform: rotate(-45deg);
  transition: 0.5s;
  bottom: 23px;
}

.nav.show {
  transform: translateX(0%);
}

.firstview {
  height: 80vh;
  background: url("../img/mv.png") no-repeat top/cover;
  display: flex;
  padding-top: 65px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstview__h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  width: 80%;
  line-height: 80px;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

.firstview__p {
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  font-family: "Noto Sans JP", sans-serif;
}

.though {
  background-color: #222222;
  color: white;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.though__h2 {
  font-size: 30px;
  line-height: 48px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  width: 85%;
}

.though__p {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  width: 85%;
  padding-top: 25px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.service__content {
  width: 85%;
}

@media screen and (min-width: 769px) {
  .service__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .service__1,
  .service__2,
  .service__3,
  .service__4 {
    width: 49%;
  }
}

.service h2 {
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  padding: 80px 0 20px;
}

.service__1,
.service__2,
.service__3,
.service__4 {
  font-family: "Noto Sans JP", sans-serif;
}

.service__1 h3,
.service__2 h3,
.service__3 h3,
.service__4 h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}

.service__1 p,
.service__2 p,
.service__3 p,
.service__4 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 20px;
}

.btn {
  background-color: #cd0224;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  padding: 10px 75px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  margin: 30px 0 80px;
}

.news {
  width: 100%;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 50vh;
}

.news__ttl {
  display: flex;
  justify-content: space-between;
  width: 85%;
  color: white;
  padding-bottom: 20px;
}

.news__ttl h2 {
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
}

.news__ttl a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #cd0224;
  padding: 10px 15px;
}

.news__ttl a:hover {
  opacity: 0.7;
}

.news__content {
  width: 85%;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 60px;
}

dl {
  background-color: white;
  display: flex;
  width: 100%;
  padding: 10px 0;
}

dl:hover {
  opacity: 0.7;
}

.news__content a {
  display: flex;
  margin: 10px 0;
  text-decoration: none;
  color: #222;
}

dl dt {
  padding: 0 10px;
  font-weight: 400;
}

.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__content {
  width: 85%;
}

@media screen and (min-width: 769px) {
  .blog__content {
    display: flex;
  }
  .blog__1,
  .blog__2,
  .blog__3 {
    padding: 0 5px;
  }
}

.blog h2 {
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  padding: 70px 0 20px;
}

.blog__1 h3,
.blog__2 h3,
.blog__3 h3 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 10px;
}

.blog__1 p,
.blog__2 p,
.blog__3 p {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
}

.blog__1 a,
.blog__2 a,
.blog__3 a {
  text-decoration: none;
  color: black;
}

.blog__1:hover,
.blog__2:hover,
.blog__3:hover {
  opacity: 0.7;
}

.company {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.company__1:hover {
  opacity: 0.7;
}

.company__2:hover {
  opacity: 0.7;
}

.company__1 {
  width: 50%;
  background-color: #cd0224;
  text-decoration: none;
  font-size: 24px;
  line-height: 240px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
}

.company__2 {
  width: 50%;
  background-color: #222;
  text-decoration: none;
  font-size: 24px;
  line-height: 240px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
}

.contact {
  background-color: #f5f6f9;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  width: 85%;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  padding: 80px 0 15px;
  text-align: center;
}

.contact p {
  padding-bottom: 30px;
}

footer {
  background-color: #222;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 769px) {
  footer {
    height: 8vh;
  }
  footer ul {
    display: flex;
  }
  footer a {
    padding: 0 5px;
    font-family: "Noto Sans JP", sans-serif;
  }
  footer a::after {
    content: "|";
    color: white;
    padding-left: 5px;
  }
}

footer small {
  color: white;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
}

footer a:hover {
  opacity: 0.7;
}

footer li {
  padding: 5px 0;
}

img {
  width: 100%;
}

.btn:hover {
  opacity: 0.7;
}
